body {
    font-family: Trebuchet MS;
    font-size: 13px;
}

#gameArea {
    
}

#chatArea {
    
}

#messages
{
    border: 1px solid #ccc;
    height: 500px;
    margin-left: 0px;
    padding-left: 0px;
    overflow-y: auto;
}

#messages li
{
    list-style-type: none;
    padding: 3px;
}
.clear
{
    clear: both;
}

#new-message
{
    font-family: Trebuchet MS;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

h2.game-status {
    background-color: #0c49a2;
    color: #fff;
    text-align: center;
}

.error 
{
    color:Red;
}

.pm
{
    color:Red;
}

.notification
{
    color:#bbb;
}

.my-turn span.active {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #a4e2ff;
    border: 1px solid #808080;
    text-indent: -90000px;
}

.board td {
    cursor: not-allowed;
}

.board .active
{
   
}

:not(.my-turn) .board .active {
    background-color: #ccc;
}

.my-turn .board .active {
    background-color: #a4e2ff;
    cursor: pointer;
}

.my-turn .board .active:hover {
    background-color: #29bbff;
}

.board .player1
{
    background-color: salmon;
}

.board .player2
{
    background-color: gold;
}

.board {
    border-spacing: 0;
}

.board td {
    margin: 0;
}

.outer-board > tbody > tr > td {
    padding: 15px;
}

.outer-board tr:first-child > td:first-child,
.outer-board tr:first-child > td:nth-child(2) {
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}
.outer-board tr:first-child > td:last-child {
    border-bottom: 1px solid red;
}

.outer-board tr:nth-child(2) > td:first-child,
.outer-board tr:nth-child(2) > td:nth-child(2) {
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}
.outer-board tr:nth-child(2) > td:last-child {
    border-bottom: 1px solid red;
}

.outer-board tr:last-child > td:first-child,
.outer-board tr:last-child > td:nth-child(2) {
    border-right: 1px solid red;
}

.inner-board td {
    border: none;
    width: 80px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    vertical-align: central;
}

.inner-board tr:first-child > td:first-child,
.inner-board tr:first-child > td:nth-child(2) {
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.inner-board tr:first-child > td:last-child {
    border-bottom-color: #808080;
}

.inner-board tr:nth-child(2) > td:first-child,
.inner-board tr:nth-child(2) > td:nth-child(2) {
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.inner-board tr:nth-child(2) > td:last-child {
    border-bottom-color: #808080;
}

.inner-board tr:last-child > td:first-child,
.inner-board tr:last-child > td:nth-child(2) {
    border-right-color: #808080;
}