@page 
@model IndexModel

<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/js/signalr.min.js"></script>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <div id="app">
        <h1>Ultimate Tic Tac Toe</h1>

        Hello @Model.UserName

        <h2>Games</h2>
        <ul>
            <li v-for="game in games">
                {{ game.name }} ({{ getStatus(game) }})
                <a href="#" v-on:click="selectGame(game)" v-if="game.status == 1">Select</a>
                <a href="#" v-on:click="joinGame(game.id)" v-if="game.status == 0 && game.player1 != name">Join</a>
            </li>
        </ul>
        
        <form action="#" v-on:submit.prevent="startGame">
            <input type="text" v-model="newGame" />
            <input type="submit" id="send" value="Start new game" class="send" />
        </form>

        <div v-if="game && game.status == 1">
            <h2>Game {{ game.name }} ({{ game.playerTurn }}'s Turn)</h2>
            <table border="1" class="board">
                <tbody>
                    <tr v-for="(row, outerRowIndex) in game.board.boards">
                        <td v-for="(board, outerColIndex) in row">
                            <table border="1">
                                <tbody>
                                    <tr v-for="(gameRow, innerRowIndex) in board.cells">
                                        <td v-for="(cell, innerColIndex) in gameRow" 
                                            v-on:click="playCell(outerRowIndex, outerColIndex, innerRowIndex, innerColIndex)" 
                                            v-bind:class="{ active: cell === 0 && game.playerTurn === name && outerRowIndex === game.nextBoardPosition.row && outerColIndex === game.nextBoardPosition.column }">
                                            <div v-if="cell == '0'">--</div>
                                            <div v-if="cell == '1'">X</div>
                                            <div v-if="cell == '2'">O</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Chat</h2>

        <div id="chat-area">
            <ul id="messages">
                <li v-for="message in messages">{{ message.from }}: {{ message.text }}</li>
            </ul>
            <ul id="users">
                <li>
                    <b>Users online</b>
                </li>
                <li v-for="user in users">{{ user.name }}</li>
            </ul>
            <div class="clear">
            </div>
            <form action="#" v-on:submit.prevent="addChatMessage">
                <input type="text" id="new-message" v-model="message" />
                <input type="submit" id="send" value="Send" class="send" />
            </form>
        </div>
    </div>
    <script>
        var userName = '@Model.UserName';
    </script>
    <script src="/js/utt.js"></script>
</body>

</html>